@charset "UTF-8";

#container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

h1{
	text-align: center;
	font-size: 50px;
}

#hidden {
	visibility: hidden;
}

#button {
	display: inline-block;
	width: 200px;
	height: 100px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: #6cf;
	line-height: 102px;
	color: #000;
	text-decoration: none;
	border: 2px solid #6cf;
	border-radius: 20px;
	outline: 0;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

#button:after{
	width: 100%;
	height: 0;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	opactiy: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: .2s;
	z-index: -1;
}

#button:hover {
	color: #6cf;
}

#button:hover:after {
	height: 120%;
	opacity: 1;
}

#button:active:after {
	height: 340%;
	opactiy: 1;
}

.center {
	text-align: center;
}

video {
	width: 500px;
	height: 375px;
	border: 1px solid black;
	margin-top: 5px;
}

.none {
	display: none;
}
