@charset "UTF-8";
h1 {
    text-align: center;
    font-size: 50px;
}

body {
    text-align: center;
}

#container {
	margin-left: auto;
	margin-right: auto;
    width: 1000px;
}

#inline {
	display: inline-flex;
}

.button {
	color: #000;
	border: none;
	outline: 0;
	border-radius: 20px;
	background-color: #6cf;
	transition: 0.5s;
	text-align: center;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
}

.button:hover {
	background-color: #D3EDFB;
	color: rgba(0,0,0,0.7);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.entryExit {
	width: 320px;
	height: 260px;
	font-size: 40px;
	margin: 5px 5px 10px 5px;
}

#record {
	width: 650px;
  	height: 150px;
  	font-size: 40px;
  	margin-bottom: 10px;
}

#member {
	width: 650px;
	height: 90px;
	font-size: 30px;
	margin-bottom: 10px;
}

#location {
	width: 650px;
	height: 90px;
	font-size: 30px;
	margin-bottom: 10px;
}
