@charset "UTF-8";
#container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

h1{
	text-align: center;
    font-size: 50px;
}

#border {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 2px black;
	width: 700px;
	height: 200px;
	font-size: 35px;
}

.gap {
	margin-left: 35px;
}

input[type="text"]{
	font-size: 35px;
	margin-left: 10px;
	border: 1px solid #000;
}

#inline {
	display: inline-flex;
	text-align: center;
}

#cancel {
	margin-left: 50px;
}

.button {
	display: inline-block;
	width: 200px;
	height: 100px;
	font-size: 30px;
	background-color: #6cf;
	border-radius: 10px;
	border: none;
	border-bottom: 4px solid #3D7A99;
	outline: 0;
}

.button:active {
	transition: translateY(4px);
	border-bottom: none;
}

#regist{
	margin-right: 50px;
}

#location{
	float:left;
}

#registration {
	float: right;
}


