@charset "UTF-8";
#container {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

h1{
	text-align: center;
    padding-bottom: 20px;
}

#border {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border: solid 2px black;
	width: 300px;
	height: 100px;
}

.gap {
	margin-left: 10px;
}

#inline {
	display: inline-flex;
	text-align: center;
}

#cancel {
	margin-left: 40px;
}

.button {
	width: 100px;
	height: 50px;
	font-size: 15px;
	background-color: #6cf;
}

#regist{
	margin-right: 40px;
}

#location{
	float:left;
}

#registration {
	float: right;
}


