<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" >
</head>
<body>
	<div id="container">
		<h1>入退室管理</h1>
		<input type="button" value="入室" class="entryExit"/>
		<input type="button" value="退出" class="entryExit"/><br>
		<input type="button" value="入退出記録参照" id="record"/>
		<input type="button" value="メンバー管理" id="member"/>
		<form action="/location" >
			<input type="submit" value="拠点管理" id="location"/>
		</form>
	</div>
</html>