<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" >
</head>
<body>
	<div id="container">
		<h1>入退室管理</h1>
		<div id="inline">
			<form action="/faceCapture/1">
				<input type="submit" value="入室" class="entryExit button" ontouchstart=""/>
			</form>
			<form action="/faceCapture/2">
				<input type="submit" value="退室" class="entryExit button" ontouchstart=""/>
			</form>
		</div>
		<form action="record">
			<input type="submit" value="入退出記録参照" id="record" class="button" ontouchstart=""/>
		</form>
		<form action="/member">
			<input type="submit" value="メンバー管理" id="member" class="button" ontouchstart=""/>
		</form>
		<form action="/location" >
			<input type="submit" value="拠点管理" id="location" class="button" ontouchstart=""/>
		</form>
	</div>
</html>