<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<h1>入退室管理</h1>
		<div id="inline">
			<form action="/faceCapture/1" id="form-id">
				<button type="button" class="entryExit button" ontouchstart="" onclick="check()">
				入室
				</button>
				<span th:each="obj, objStat :${recordList}" th:if="${objStat.last == true}">
				<input type="hidden" th:value="${obj.entry_time}" id="recordList"></span>
			</form>
			<form action="/faceCapture/2">
				<input type="submit" value="退室" class="entryExit button" ontouchstart=""/>
			</form>
		</div>
		<form action="record">
			<input type="submit" value="入退出記録参照" id="record" class="button" ontouchstart=""/>
		</form>
		<form action="/member">
			<input type="submit" value="メンバー管理" id="member" class="button" ontouchstart=""/>
		</form>
		<form action="/location" >
			<input type="submit" value="拠点管理" id="location" class="button" ontouchstart=""/>
		</form>
	</div>

	<script>

		function check() {

			var today = new Date();
			var year = today.getFullYear();
			var month = ("0"+(today.getMonth() + 1)).slice(-2);
			var date = ("0"+today.getDate()).slice(-2);
			var YMD = year + "-" + month + "-" + date;

			var registrationEntry = document.getElementById('recordList').value.slice(0, 10);

			if(YMD == registrationEntry) {
				alert('本日の入室時間は登録済みです。');
			}else {
				$("#form-id").submit();
			}

		}

	</script>

</html>