<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/css/locationEdit.css" th:href="@{/css/locationEdit.css}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<script type="text/javascript" src="js/config.js" th:src="@{/js/config.js}"></script>

<title>拠点　削除</title>

</head>
<body>
	<div id="container">
		<h1>拠点管理 削除</h1>
		<form id="locationname" method="post" th:object="${formModel}" action="/locationDelete">
			<div id="border">
				<p class="gap" th:text="'ID : ' + ${msg}"></p>
				<input type="hidden" th:value="${msg}" name="location_id"/>
				<div class="gap">
					拠点名 : <input name="name" id="locationtext" type="text" th:value="(${check} ? '' : *{name})"/>
				</div>
			</div>
			<div id="registration">
				<input type="submit" value="削除" class="button" id="regist"/>
			</div>
		</form>
		<form id="cancel" action="/location">
			<input type="submit" value="キャンセル" class="button"/>
		</form>
	</div>
</body>
</html>