<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/location.css" th:href="@{/css/location.css}" rel="stylesheet" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<h1>拠点管理</h1>
		<div id="inline">
			<form action="/">
				<input type="submit" value="戻る" id="return" class="button"/>
			</form>
			<form action="/locationNew">
				<input type="submit" value="新規登録" class="button"/>
			</form>
		</div>
		<form id="form-id">
			<table align="center">
				<tr><th>拠点</th></tr>
				<tr th:each="obj: ${list}">
					<td><input type="radio" th:text="${obj.name}" name="location" th:value="${obj.location_id}" required/></td>
				</tr>
			</table>
			<div class="wrapper">
				<button class="button" type="submit" onclick="submitAction('/locationEdit')" >編集</button>
				<button class="button" type="submit" onclick="submitAction('/locationDelete')" 	>削除</button>
			</div>
		</form>
	</div>

	<script>
		function submitAction(url) {
			$('#form-id').attr('action', url);
		}
	</script>
</body>
</html>