<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/location.css" th:href="@{/css/location.css}" rel="stylesheet" >
    <script type="text/javascript">
    </script>
</head>
<body>
	<div id="container">
		<h1>拠点管理</h1>
		<div id="inline">
			<form action="/">
				<input type="submit" value="戻る" id="return" class="button"/>
			</form>
			<form action="/locationNew">
				<input type="submit" value="新規登録" class="button"/>
			</form>
		</div>
		<form action="/locationEdit">
			<table align="center">
				<tr><th>拠点</th></tr>
				<tr th:each="obj: ${list}">
					<td><input type="radio" th:text="${obj.name}" name="location" th:value="${obj.location_id}" required/></td>
				</tr>
			</table>
			<div class="wrapper"><input type="submit" value="編集" class="button"/></div>
		</form>
	</div>
</body>
</html>