<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/memberEdit.css" th:href="@{/css/memberEdit.css}" rel="stylesheet" >
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<title>メンバー　削除</title>
</head>

<body>

	<div id="container">

		<h1>メンバー削除</h1>
			<form action="/member">
				<input type="submit" value="&#xf060" class="fas" id="return" ontouchstart=""/>
			</form>

		<div id=border>
			<form action="/memberDelete" method="post" th:object="${formModel}" id="form-id">
					<p class="gap">ID : <input type="text" class="gap" id="id" name="member_id" th:value="*{member_id}" readonly="readonly"/></p>
					<p class="gap">氏名 : <input type="text" class="gap" id="name" name="name" th:value="*{name}" readonly="readonly"/></p>

				<p class="gap">内容がよろしければ削除を押して下さい。</p>

				<div class="wrapper">
					<button type="submit" class="button" id="btn" ontouchstart="">削除</button>
				</div>
			</form>
		</div>

	</div>

	<script type="text/javascript">

		document.getElementById('name').style.border = "none";
		// 「input」タグを読み取り専用にする処理
		$(function(){
			var inputItem = document.getElementsByTagName("input");
			for(var i = 0; i < inputItem.length; i++){
				if(inputItem[i].readOnly){
					inputItem[i].style.backgroundColor = "#fff";
					inputItem[i].tabIndex = "-1";
					inputItem[i].style.cursor = "not-allowed";
				}
			}
		})
	</script>

</body>

</html>