<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/member.css" th:href="@{/css/member.css}" rel="stylesheet" >
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>

	<div id="container">
		<h1>メンバー一覧</h1>

		<div id="inline">
			<form action="/">
				<input type="submit" value="&#xf060" id="icon" class="fas" ontouchstart=""/>
			</form>
			<form action="/memberNew/1">
				<input type="submit" value="新規登録" id="new" class="button" ontouchstart=""/>
			</form>
		</div>

		<form id="form-id">
			<table align="center">
				<thead>
					<tr><th>メンバー</th></tr>
				</thead>
				<tbody>
					<tr th:each="obj : ${list}">
						<td><input id="member" type="radio" th:text="${obj.member_id} + ' ' + ${obj.name}"
						name="member" th:value="${obj.member_id}" required/></td>
					</tr>
				</tbody>
			</table>
				<div id="left">
					<button class="button" type="submit" onclick="submitAction('/memberEdit/0')" name="submitButton" ontouchstart="">編集</button>
				</div>
				<div id="right">
					<button class="button" type="submit" onclick="submitAction('/memberDelete')" name="submitButton" ontouchstart="">削除</button>
				</div>
		</form>
	</div>

	<script>
		function submitAction(url) {
			$('#form-id').attr('action', url);
			$("button[name=submitButton]").click();
			//$('#form-id').submit();
		}
	</script>

</body>
</html>