<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/member.css" th:href="@{/css/member.css}" rel="stylesheet" >
</head>
<body>
	<div id="container">
		<h1>メンバー一覧</h1>
		<div id="inline">
			<form action="/">
				<input type="submit" value="戻る" id="return"/>
			</form>
			<form action="/memberNew/1">
				<input type="submit" value="新規登録" id="new"/>
			</form>
		</div>
		<form action="/memberEdit/0">
			<table align="center">
				<thead>
					<tr><th>メンバー</th></tr>
				</thead>
				<tbody>
					<tr th:each="obj : ${list}">
						<td><input type="radio" th:text="${obj.member_id} + '&emsp;' + ${obj.name}" name="member" th:value="${obj.member_id}" required/></td>
					</tr>
				</tbody>
			</table>
			<div class="wrapper"><input type="submit" value="編集" id="edit"/></div>
		</form>
	</div>
</body>
</html>