<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>入退室管理</title>
	<meta http-equiv="Content-Type"
    	content="text/html; charset=UTF-8" />
    <link href="/css/memberFace.css" th:href="@{/css/memberFace.css}" rel="stylesheet" >
</head>
<body>
	<div id="container">
		<h1>顔写真登録</h1>
		<form th:if="${check}" id="hidden">
			<input type="submit" value="<戻る" id="return"/>
		</form>
		<form action="/memberEdit/0" th:unless="${check}">
			<input type="submit" value="<戻る" id="return"/>
		</form>
		<div id="capture">
			<form action="/member" th:if="${check}">
				<input type="submit" value="撮影" id="photo"/>
			</form>
			<form action="/memberUpdate/0" th:unless="${check}">
				<input type="submit" value="撮影" id="photo"/>
			</form>
		</div>
	</div>
</body>
</html>